<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/commons::head(~{::title})">
    <meta charset="UTF-8">
    <title>New Question</title>
</head>

<body>
<header th:replace="/fragments/commons::navigation"></header>

<section class="bg-dark text-light p-5 p-lg-1 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <br>
                <h1>Questions <span class="text-warning"> panel </span></h1>
                <p class="lead my-4">Add a new question to the question repository. You can then add it to an exam.</p>
            </div>
        </div>
    </div>
</section>

<a class="btn btn-primary" th:href="@{/questions/panel}">Back</a>
<br>

<p th:if="${question_error}" class="errors alert alert-danger">
    Question is invalid.
</p>
<form th:action="@{/questions/add}" th:method="post" th:object="${questionModel}">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="question" class="form-label">Question text:</label>
            <input type="text" class="form-control" id="question" th:field="*{question}"><br>
        </div>
        <div class="form-group col-md-6">
            <label for="score">Score:</label>
            <label>
                <input type="text" class="form-control" id="score" th:field="*{score}">
            </label>
        </div>
        <div class="form-group col-md-6">
            <label for="qtypeCLOSED">CLOSED</label>
                <input type="radio" id="qtypeCLOSED" th:field="*{qType}" th:value="CLOSED">
            <label for="qtypeOPEN">OPEN</label>
                <input type="radio" id="qtypeOPEN" th:field="*{qType}" th:value="OPEN">
        </div>
        <div class="form-group col-md-6">
            <p>Leave empty if Question is of OPEN type.</p>
            <label for="A" class="form-label">Option A:</label>
            <input type="text" id="A" th:field="*{answerSet.a}"><br>
            <label for="B" class="form-label">Option B:</label>
            <input type="text" id="B" th:field="*{answerSet.b}"><br>
            <label for="C" class="form-label">Option C:</label>
            <input type="text" id="C" th:field="*{answerSet.c}"><br>
        </div>
        <div class="form-group col-md-6">
            <label for="answer A">A</label>
            <input type="radio" id="answer A" th:field="*{answerSet.answer}" th:value="A">
            <label for="answer B">B</label>
            <input type="radio" id="answer B" th:field="*{answerSet.answer}" th:value="B">
            <label for="answer C">C</label>
            <input type="radio" id="answer C" th:field="*{answerSet.answer}" th:value="C">
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Create">
</form>
<a class="btn btn-primary" th:href="@{/questions/panel}">Cancel</a>

<!-- script doesn't work as expected-->
<script>
    function toggleAnswerSet(){
        let state = document.getElementById("qtypeCLOSED").checked;
        if(state===true){
        document.getElementById("A").setAttribute("disabled",false);
        document.getElementById("B").setAttribute("disabled",false);
        document.getElementById("C").setAttribute("disabled",false);
        document.getElementById("answer A").setAttribute("disabled",false);
        document.getElementById("answer B").setAttribute("disabled",false);
        document.getElementById("answer C").setAttribute("disabled",false);
        }
        if(state===false) {
            document.getElementById("A").setAttribute("disabled",true);
            document.getElementById("B").setAttribute("disabled",true);
            document.getElementById("C").setAttribute("disabled",true);
            document.getElementById("answer A").setAttribute("disabled",true);
            document.getElementById("answer B").setAttribute("disabled",true);
            document.getElementById("answer C").setAttribute("disabled",true);
        }
    }
</script>
</body>
</html>