<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Exams</title>
</head>
<body>
<header th:replace="/fragments/commons::navigation"></header>

<section class="bg-dark text-light p-5 p-lg-1 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <br>
                <h1>Exams <span class="text-warning"> all </span></h1>
                <p class="lead my-4">View all exams in the system.</p>
                <p class="lead my-4">To add a new exam press "Add" button at the table.</p>
            </div>
        </div>
    </div>
</section>

<a th:href="@{/index}">Back</a>
<br>
<a th:href="@{/exams/add}">Add</a>

<section class=" text-dark p-5 p-lg-1 pt-lg-5 text-center text-sm-start">
    <table>
        <thead>
        <th>ID</th>
        <th>Exam name</th>
        <th>Duration(min)</th>
        <th>Status</th>
        <th>View</th>
        <th>Delete</th>
        </thead>
        <tbody>
        <th:block th:each="exam : ${exams}">
        <tr>
            <td th:text="${exam.getId()}"></td>
            <td th:text="${exam.getExamName()}"></td>
            <td th:text="${exam.getTimeGiven().toMinutes()}"></td>
            <td th:text="${exam.getStatus().name()}"></td>
            <td><a th:href="@{/exams/{id}/details(id=${exam.getId()})}">View</a></td>
            <td><a th:href="@{/exams/{id}/delete(id=${exam.getId()})}">Delete</a></td>
        </tr>
        </th:block>
        </tbody>
    </table>
</section>
</body>
</html>