<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
            href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css"/>
    <title>Admin (d) number</title>
</head>
<header th:replace="/fragments/commons::navigation"></header>
<body>



<section
        class="bg-dark text-light p-5 p-lg-1 pt-lg-5 text-center text-sm-start"
>
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <br>
                <h1>Create new <span class="text-warning"> exam here </span></h1>
                <p class="lead my-4">
                    Some random text bla bla
                </p>

            </div>

        </div>
    </div>

</section>

<form>
    <div align="center" class="form-group">
        <label for="exampleFormControlTextarea1">Exam details</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
    </div>



</form>

<div align="center">
    <button type="button" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-primary">Cancel</button>
</div>
<section>
    <h2>Questions in this exam</h2>
    <table class="table">

        <tr>
            <th scope="col">#</th>
            <th scope="col">Question text</th>
            <th scope="col">Type</th>
            <th scope="col">Score(pts)</th>
            <th scope="col">Answer A</th>
            <th scope="col">Answer B</th>
            <th scope="col">Answer C</th>
            <th scope="col">Correct answer</th>
        </tr>


    </table>
</section>
<div align="center">
    <button type="button" class="btn btn-primary">Add</button>
    <button type="button" class="btn btn-primary">Edit</button>
    <button type="button" class="btn btn-primary">Remove</button>
</div>




</body>
</html>