<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Score a user</title>
</head>
<body>
<h1>User Scorecard</h1>
<p>Score a users scorecard.</p>
<button>Back</button>
<fieldset>
    <legend>User details:</legend>
    <label>Username:</label><label>the user</label>
    <label>First name:</label><label>Pesho</label>
    <label>Last name:</label><label>Peshov</label>
    <label>FacNo:</label><label>123456789</label>
</fieldset>
<fieldset>
    <legend>Exam details:</legend>
    <label>ID:</label><label>0</label>
    <label>Name:</label><label>test exam(no DB)</label>
    <label>Duration(min):</label><label>40</label>
    <label>Status:</label><label>Pending/Live/Finished/Finilized</label>
</fieldset>
<label>Score card:</label>
<div>
    <table>
        <thead>
        <th>ID</th>
        <th>Question text</th>
        <th>Type</th>
        <th>Score(pts)</th>
        <th>Answer A</th>
        <th>Answer B</th>
        <th>Answer C</th>
        <th>Correct answer</th>
        <th>View</th>
        <th>Score</th>
        <th>Clear</th>
        </thead>
        <tbody>
        <tr>
            <td>0</td>
            <td>test question(no DB)</td>
            <td>CLOSED</td>
            <td>3</td>
            <td>it's A</td>
            <td>it's B</td>
            <td>it's C</td>
            <td>A</td>
            <td><button>View</button></td>
            <td><button>Score</button></td>
            <td><button>Clear</button></td>
        </tr>
        </tbody>
    </table>
</div>
<button>Save</button>
<button>Back</button>
</body>
</html>