<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Exams</title>
</head>
<body>
<header th:replace="/fragments/commons::navigation"></header>
<h1>Exams</h1>
<hr>
<button>Back</button>
<p>A list of all exams entered in the system.</p>
<p>To view an exam, select the "View" button next to it.</p>
<p>To add a new exam press "Add" button at the table.</p>

<div>
    <button >Add</button>
    <div>
        <table>
            <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Duration(min)</th>
            <th>Status</th>
            <th>View</th>
            </thead>
            <tbody>
            <tr>
                <td>0</td>
                <td>test exam(no DB)</td>
                <td>40</td>
                <td>Pending/Live/Finished/Finilized</td>
                <td><button>View</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>