<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>
<h1>Questions</h1>
<button>Back</button>
<p>A list of all questions entered in the system.</p>
<p>To view a question press the "View" button next to it.</p>
<p>To add a new question press the "Add" button at the table.</p>
<p>To delete a question press the "Delete" button next to it.</p>
<div>
    <button>Add</button>
    <table>
        <thead>
        <th>ID</th>
        <th>Question text</th>
        <th>Type</th>
        <th>Score(pts)</th>
        <th>Answer A</th>
        <th>Answer B</th>
        <th>Answer C</th>
        <th>Correct answer</th>
        <th>View</th>
        <th>Delete</th>
        </thead>
        <tbody>
        <tr>
            <td>0</td>
            <td>test question(no DB)</td>
            <td>CLOSED</td>
            <td>3</td>
            <td>it's A</td>
            <td>it's B</td>
            <td>it's C</td>
            <td>A</td>
            <td><button>View</button></td>
            <td><button>Delete</button></td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>