<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>
<h1>Question</h1>
<button>Back</button>
<p>Question details.</p>

<div>
<fieldset>
    <legend>Question text:</legend>
    <p>What is the question? This is a test question(no DB)</p>
    <button>Update</button>
</fieldset>
    <fieldset>
        <legend>Answer set:</legend>
        <p>A: answer A</p>
        <p>B: answer B</p>
        <p>C: answer C</p>
        <button>New</button><button>Update</button><button>Delete</button>
    </fieldset>
</div>
</body>
</html>