<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Exam Questions</title>
</head>
<body>
<h1>Update Exam Questions</h1>
<button>Back</button>
<p>Update the question selection for an exam.</p>
<fieldset>
    <legend>Exam details:</legend>
    <label>ID:</label><label>0</label>
    <label>Name:</label><label>test exam(no DB)</label>
    <label>Duration(min):</label><label>40</label>
    <label>Status:</label><label>Pending/Live/Finished/Finilized</label>
</fieldset>
<div>
    <label>Current Exam Questions</label>
    <button>Add new</button>
    <button>Save</button>
    <table>
        <thead>
        <th>ID</th>
        <th>Question text</th>
        <th>Type</th>
        <th>Score(pts)</th>
        <th>Answer A</th>
        <th>Answer B</th>
        <th>Answer C</th>
        <th>Correct answer</th>
        <th>View</th>
        <th>Update</th>
        <th>Remove from exam</th>
        </thead>
        <tbody>
        <tr>
            <td>0</td>
            <td>test question(no DB)</td>
            <td>CLOSED</td>
            <td>3</td>
            <td>it's A</td>
            <td>it's B</td>
            <td>it's C</td>
            <td>A</td>
            <td><button>View</button></td>
            <td><button>Update</button></td>
            <td><button>Remove</button></td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <label>Available Exam Questions</label>
    <button>Add new</button>
    <table>
        <thead>
        <th>ID</th>
        <th>Question text</th>
        <th>Type</th>
        <th>Score(pts)</th>
        <th>Answer A</th>
        <th>Answer B</th>
        <th>Answer C</th>
        <th>Correct answer</th>
        <th>View</th>
        <th>Add to exam</th>
        <th>Update</th>
        <th>Remove</th>
        </thead>
        <tbody>
        <tr>
            <td>0</td>
            <td>test question(no DB) 2</td>
            <td>OPEN</td>
            <td>10</td>
            <td>it's A</td>
            <td>it's B</td>
            <td>it's C</td>
            <td>A</td>
            <td><button>View</button></td>
            <td><button>Add</button></td>
            <td><button>Update</button></td>
            <td><button>Remove</button></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>